@import "theme.scss";

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
svg{fill: inherit; stroke: inherit;}
:focus,:active{outline: none;}
a,a:focus,a:active{outline: none; color: inherit;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


html{
    @include font($fz18);
    @include Sans;
    color: $cl3;
}

input{
    color: $cd1;
}

svg {
    fill: $cd0;
}

body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &, & > *{
        overflow: hidden auto;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

:root{
    --off: 10px;
    --offA: 10px;
    --font: 10px;
    --sides: calc(100vw * 375 / 1920);
    --pageWidth: calc(100vw - var(--sides) * 2);
}

// @media screen and (max-width: $tablet) {
//     :root{
//         --sides: 20px;
//         --font: 9px;
//         --off: 9px;
//         --offA: 9px;
//     }
// }

// @media screen and (max-width: $mobile) {
//     :root{
//         --sides: 16px;
//     }
// }

#__next{
    min-height: 100vh;
}
